In [16]:
import pandas as pd
import os

path = "C:/Users/danna/Documents/GitHub/WBBTournamentPredictions/MachineLearning/LearningData"
yr_list = os.listdir(path)
print(yr_list)
gamesLists = []
nonFolders = 0
for yr in yr_list:
    try:
        path2 = path + "/" + yr
        gamesLists.append(os.listdir(path2))
    except:
        print('error')
        nonFolders+=1
team1File = "Team 1 Basic BS"
team2File = "Team 2 Basic BS" 
ext = ".csv"
# yrIndex = 0
# gameIndex = 0

base_cols = None

games = []
gameID = 0

print("\n\nSTART")

for yr in range( len(yr_list)  - nonFolders):
    for gameFile in range( len(gamesLists[yr])):
#         print("\t", gamesLists[yr][gameFile])
        testGamePath = path + '/' + yr_list[yr] + '/' + gamesLists[yr][gameFile] 
        team1DataPath = testGamePath + '/' + team1File + ext
        team2DataPath = testGamePath + '/' + team2File + ext
        try:
            team1 = pd.read_csv(team1DataPath)
            team2 = pd.read_csv(team2DataPath)
        except: 
            print("error with", gamesLists[yr][gameFile], "(", yr_list[yr], ")... skipping.")
            continue
        
        teams = [team1, team2]
        summaries = []
        for team in teams:
            
            team.drop(["Unnamed: 0"], axis=1, inplace=True)
            team.iloc[-1, 0] = team.columns[0]
            team.rename(columns={team.columns[0] : "TEAM"}, inplace=True)    

            team["YEAR"] = yr_list[yr]
            
            totals = pd.concat([team.iloc[-1, :]])
            totals.index = totals.index.str.upper()

            maxes = pd.concat([team.iloc[:-1, :].max()])
            maxes.index = maxes.index.str.upper() + "_MAX"

            summary = pd.concat([totals, maxes])
            summaries.append(summary)
        summary = pd.concat(summaries, axis=1).T
        
        game = pd.concat(summaries, axis=1).T
        game_opp = game.iloc[::-1].reset_index()
        game_opp.columns += "_OPP"

        full_game = pd.concat([game, game_opp], axis=1)
        full_game.drop(["YEAR_MAX", "YEAR_OPP", "YEAR_MAX_OPP", "TEAM_MAX", "TEAM_MAX_OPP", "index_OPP"], axis=1, inplace=True)

        full_game["WIN"] = full_game["PTS"] > full_game["PTS_OPP"]
#         full_game["WIN"] = None
        full_game["GAME_ID"] = gameID
        gameID += 1
        games.append(full_game)

        if len(games) % 50 == 0:
            print(f"{len(games)} / {len(yr_list) * len(gamesLists)}")

print("END")

['2010', '2011', '2012', '2014', '2015', '2016', '2017', '2019', 'learningData.csv', 'learningData2.csv', 'learningData3.csv']
error
error
error


START
50 / 88
100 / 88
150 / 88
error with San Diego State  vs. Louisiana State ( 2012 )... skipping.
200 / 88
250 / 88
300 / 88
350 / 88
400 / 88
450 / 88
END

In [20]:
import pandas as pd
import os

path = "C:/Users/danna/Documents/GitHub/WBBTournamentPredictions/MachineLearning/TestData"
yr_list = os.listdir(path)
print(yr_list)
gamesLists = []
nonFolders = 0
for yr in yr_list:
    try:
        path2 = path + "/" + yr
        gamesLists.append(os.listdir(path2))
    except:
        print('error')
        nonFolders+=1
team1File = "Team 1 Basic BS"
team2File = "Team 2 Basic BS" 
ext = ".csv"
# yrIndex = 0
# gameIndex = 0

base_cols = None

games = []
gamesAnswers = []
gameID = 0

print("\n\nSTART")

for yr in range( len(yr_list)  - nonFolders):
    for gameFile in range( len(gamesLists[yr])):
#         print("\t", gamesLists[yr][gameFile])
        testGamePath = path + '/' + yr_list[yr] + '/' + gamesLists[yr][gameFile] 
        team1DataPath = testGamePath + '/' + team1File + ext
        team2DataPath = testGamePath + '/' + team2File + ext
        try:
            team1 = pd.read_csv(team1DataPath)
            team2 = pd.read_csv(team2DataPath)
        except: 
            print("error with", gamesLists[yr][gameFile], "(", yr_list[yr], ")... skipping.")
            continue
        
        teams = [team1, team2]
        summaries = []
        for team in teams:
            
            team.drop(["Unnamed: 0"], axis=1, inplace=True)
            team.iloc[-1, 0] = team.columns[0]
            team.rename(columns={team.columns[0] : "TEAM"}, inplace=True)    

            team["YEAR"] = yr_list[yr]
            
            totals = pd.concat([team.iloc[-1, :]])
            totals.index = totals.index.str.upper()

            maxes = pd.concat([team.iloc[:-1, :].max()])
            maxes.index = maxes.index.str.upper() + "_MAX"

            summary = pd.concat([totals, maxes])
            summaries.append(summary)
        summary = pd.concat(summaries, axis=1).T
        
        game = pd.concat(summaries, axis=1).T
        game_opp = game.iloc[::-1].reset_index()
        game_opp.columns += "_OPP"

        full_game = pd.concat([game, game_opp], axis=1)
        full_game.drop(["YEAR_MAX", "YEAR_OPP", "YEAR_MAX_OPP", "TEAM_MAX", "TEAM_MAX_OPP", "index_OPP"], axis=1, inplace=True)

        full_game["WIN"] = full_game["PTS"] > full_game["PTS_OPP"]
#         full_game["WIN"] = None
        full_game["GAME_ID"] = gameID
        gameID += 1
        
        ans = full_game[['WIN']].copy()
        
        games.append(full_game)
        gamesAnswers.append(ans)

        if len(games) % 50 == 0:
            print(f"{len(games)} / {len(yr_list) * len(gamesLists)}")

print("END")

['2018', '2021', '2022', 'testData.csv', 'testData2.csv']
error
error


START
50 / 15
100 / 15
150 / 15
END

In [17]:
#run after last cell finishes big loop 
games_df = pd.concat(games, ignore_index=True)
# games_dfold_df[['col1']].copy()[-1]
games_df

,TEAM,FG,FGA,2P,2PA,3P,3PA,FT,FTA,ORB,...,AST_MAX_OPP,STL_MAX_OPP,BLK_MAX_OPP,TOV_MAX_OPP,PF_MAX_OPP,PTS_MAX_OPP,FT/FGA_MAX_OPP,AST/TOV_MAX_OPP,WIN,GAME_ID
0,Austin Peay,16,53,13,39,3,14,7,9,8,...,4,2,2,4,5,18,0.571429,2.0,False,0
1,Tennessee,31,67,26,48,5,19,8,13,21,...,1,1,1,7,4,21,0.222222,0.333333,True,0
2,Baylor,17,45,16,38,1,7,15,20,5,...,4,3,2,2,4,34,0.625,2.0,False,1
3,Connecticut,28,67,25,50,3,17,11,19,12,...,4,1,5,5,5,14,0.4,1.5,True,1
4,Baylor,18,53,16,41,2,12,13,20,8,...,2,4,1,4,5,16,0.388889,1.0,True,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
947,Connecticut,27,58,23,43,4,15,11,17,8,...,3,2,3,3,4,16,0.375,3.0,True,473
948,UCLA,29,80,22,56,7,24,20,21,25,...,3,3,6,2,4,23,0.3,1.5,True,474
949,Maryland,32,68,31,55,1,13,15,25,17,...,5,2,1,5,3,30,0.625,2.0,False,474
950,Wright State,24,80,16,50,8,30,5,7,17,...,7,1,1,3,3,27,1.75,3.5,False,475
951,Texas A&M,25,56,17,39,8,17,26,35,11,...,3,1,1,4,5,12,0.666667,0.5,True,475

In [21]:
#run after last cell finishes big loop 
gamesAns_df = pd.concat(gamesAnswers, ignore_index=True)
# games_dfold_df[['col1']].copy()[-1]
gamesAns_df

       WIN
0    False
1     True
2    False
3     True
4    False
..     ...
371   True
372   True
373  False
374  False
375   True

[376 rows x 1 columns]

In [23]:
savePath = "C:/Users/danna/Documents/GitHub/WBBTournamentPredictions/MachineLearning/TestData/testData2Answers.csv"
gamesAns_df.to_csv(savePath)